<link rel="stylesheet" href="/css/update_blog.css">

<div class="container">
            <p class="headline">EDIT YOUR BLOG HERE</p>
            <form action="/blog/update/<%= blog.id %>" method="POST">
                <br>
                Title:
                <br>
                <input type="text" name="title" value="<%= blog.title %>"><br><br>
                Content:
                <br>
                <textarea name="text" cols="30" rows="10" placeholder="<%= blog.text %>"></textarea>
                <button class="btn btn__blog" type="submit">Submit</button>
            </form>
</div>