
.container{
    position: relative;
    top: 9vh;
    margin: 20px auto;
    width: 80vw;
    h3{
        text-align: center; 
        font-weight: bolder; 
        color: blue;
        span{
            color: darkkhaki;
        }
    }
}